.daily-hourly-toggle:active {
  outline: none;
}

.daily-hourly-toggle__container {
  display: flex;
  justify-content: center;
  padding-bottom: $s-size;
}

.daily-hourly-toggle:focus {
  outline: 2px dashed $darkyellow;
}
