.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-left: $s-size;
  padding-right: $s-size;
}

@media (max-width: $phone-small) {
  .footer span {
    font-size: 0.5rem;
  }

  .footer span a {
    font-size: $s-size;
  }
}

@media (max-width: $phone-medium) {
  .footer__updated-text {
    font-size: 5px;
    opacity: 0;
  }
}

.refresh-icon {
  height: $m-size;
  margin-left: 0.25rem;
  width: $m-size;
}

.refresh-button svg:hover .refresh-icon-path {
  fill: $darkyellow;
}

.refresh-button:focus {
  outline: 2px dashed $darkyellow;
}

.refresh-button:active {
  outline: none;
}
