.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  width: 100%;
}

.refresh-icon {
  height: $m-size;
  margin-left: 0.25rem;
  width: $m-size;
}

.refresh-button svg:hover .refresh-icon-path {
  fill: $darkyellow;
}

.refresh-button:focus {
  outline: 2px dashed $darkyellow;
}
