.footer > div {
  display: flex;
  height: $m-size;
  justify-content: center;
  align-items: center;
}

.forecast-table__column {
  border-right: $line-width solid $quarterwhite;
  text-align: center;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 5rem;
}

.forecast-table__column:last-child {
  border-right: $line-width solid $invisible;
}

.forecast-table__column > canvas {
  height: 48px;
  width: 48px;
}

.forecast-table__precipitation-container {
  display: flex;
  height: $m-size;
  justify-content: center;
  align-items: center;
}

@media (max-width: $phone-medium) and (orientation: portrait),
  (max-height: $phone-medium) and (orientation: landscape) {
  .forecast-table__column > canvas {
    height: 32px;
    width: 32px;
  }

  .forecast-table__precipitation-container {
    font-size: 1rem;
  }
}

@media (max-height: $phone-small) {
  .forecast-table__column {
    height: 20rem;
  }

  .forecast-table__precipitation-container {
    font-size: 1rem;
  }
}

.raindrop-icon {
  width: 0.9rem;
  height: 0.9rem;
  padding-bottom: 0.3rem;
  margin-right: 0.1rem;
}
