.weather-today {
  text-align: center;
  // width: 100%;
}

.weather-today__datetime-city-container > * {
  align-items: center;
  margin: 0.5rem;
}

#weather-today__icon {
  height: 128px;
  width: 128px;
}

@media (max-width: 500px) {
  .footer {
    padding-left: $s-size;
    padding-right: $s-size;
  }
  .footer__updated-text {
    font-size: 5px;
    opacity: 0;
  }

  #weather-today__icon {
    height: 96px;
    width: 96px;
  }

  .weather-today h1 {
    font-size: $l-size;
  }

  .weather-today h2 {
    font-size: $m-size;
  }

  .weather-today h3 {
    font-size: $s-size;
  }

  .weather-today__location-icon {
    height: 0.5rem;
    width: 0.5rem;
    opacity: 0;
    margin-bottom: 0;
  }
}

.weather-today__location-icon {
  height: $m-size;
  width: $m-size;
  margin-bottom: 0;
}

.weather-today__refresh-icon {
  height: $m-size;
  width: $m-size;
}

.weather-today__refresh-icon:hover {
  fill: $darkyellow;
}

.weather-today__summary {
  margin-bottom: $s-size;
}

.weather-today__summary > h2 {
  margin: 0;
  margin-top: 2rem;
}

.weather-today__temperature-and-icon-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.weather-today__temperature-container {
  align-items: center;
  // margin-bottom: 10rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-today__temperature-container > * {
  margin: 0;
}
