{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "babel-plugin-transform-class-properties"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": ["warn"],
    "indent": "off",
    "react/jsx-indent": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
