button {
  background: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  cursor: pointer;
  font-size: $m-size;
  font-weight: bold;
}

button:disabled {
  cursor: default;
}

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

button:hover:enabled {
  color: $darkyellow;
}
