// Colors
$darkcyan: #2f80ed;
$lightcyan: #56ccf2;
$darkyellow: #ffe200;
$halfwhite: rgba(255, 255, 255, 0.4);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 5.8rem;

$line-width: 0.2rem;
// $desktop-breakpoint: 45rem;
