html {
  font-size: 62.5%;
}

body {
  background: linear-gradient($darkcyan, $lightcyan);
  background-color: $lightcyan;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Amiko', sans-serif;
  font-size: $s-size;
  height: 100%;
  max-width: 100%;
  letter-spacing: 0.05rem;
  padding: 3rem;
}

a {
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: $darkyellow;
}

a:active {
  outline: none;
}

a:focus {
  outline: none;
}

h1 {
  font-size: $xl-size;
}

h2 {
  font-size: $l-size;
}

h3 {
  font-size: $m-size;
}

.unfocused {
  color: $halfwhite;
}

.selected {
  font-weight: bold;
}
