// Colors
$darkcyan: #2f80ed;
$lightcyan: #56ccf2;
$darkyellow: #ffe200;
$halfwhite: rgba(255, 255, 255, 0.4);
$quarterwhite: rgba(255, 255, 255, 0.2);
$invisible: rgba(255, 255, 255, 0);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.8rem;
$xl-size: 5.5rem;

$line-width: 0.2rem;
// $desktop-breakpoint: 45rem;
